@model ProjectPRO.ViewModels.InviteListViewModel
@{
    ViewBag.Title = "InviteList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">
    <h2>Invite List</h2>

@if (Model.Invites == null)
{
   <h3>You have no invites</h3>
}
else
{
    <table>
        <tr>
            <th>Meeting Name</th>
            <th>Date</th>
        </tr>
        @foreach (var item in Model.Invites)
        {
        <tr>
            <td>@item.Meeting.Name</td>
            <td>@item.Meeting.Date</td>
            <td>@Html.ActionLink("Accept", "AcceptInvite", "Meeting", new { @meetid = item.Meeting.MId, @invid = item.InvId })</td>
            <td>@Html.ActionLink("Reject", "RejectInvite", "Meeting", new { @meetid = item.Meeting.MId, @invid = item.InvId })</td>
        </tr>
        }
    </table>
}
</div>

