@model ProjectPRO.ViewModels.InviteToMeetingViewModel
@{
    ViewBag.Title = "InviteToMeeting";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">
<h2>Invite To Meeting</h2>
    @Html.ActionLink("Back", "ManageMeeting", "Meeting", new { @meetid = Model.MeetId }, new { @class = "btn" })
    @if (Model.Users.Count == 0)
    {
        <p>You have no more users to invite</p>
    }
    else { 
    <table>
        <tr>
            <th>Name</th>
            <th>Index Number</th>
        </tr>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.IndexNumber</td>
                <td>@Html.ActionLink("Invite", "InvitePerson","Meeting",new {@meetid=Model.MeetId,@uid=item.Id },new {@class="btn" })</td>
            </tr>
        }
    </table>
    }
</div>
