@model ProjectPRO.ViewModels.AddGroupsViewModel
@{
    ViewBag.Title = "addGroups";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">
    <h2>addGroups</h2>
    @using (Html.BeginForm("AddGr", "Home", FormMethod.Post))
    {
        <label style="font-size:22px">User:</label>
        <select id="selUser" name="selUser">
            @foreach (var use in Model.Users)
            {
                <option value="@use.Id">@use.Name</option>
            }
        </select>
        <br />
        <label style="font-size:22px">Role:</label>
        <select id="roleSel" name="roleSel">
            <option value="Main Advisor">Main Advisor</option>
            <option value="Student">Student</option>
            <option value="Teache">Teacher</option>
        </select>
        <input type="submit" value="Send" class="btn" />
        @Html.ValidationMessage("Error")

    }
</div>